@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Futura Bold;
  src: url(../assets/fonts/futuraBold.ttf);
}
@font-face {
  font-family: Futura Medium;
  src: url(../assets/fonts/futuraMedium.ttf);
}
@font-face {
  font-family: Futura Light;
  src: url(../assets/fonts/futuraLight.ttf);
}
@font-face {
  font-family: Futura Italic;
  src: url(../assets/fonts/futuraLightItalic.ttf);
}
::selection{
  background-color: #d0e015;
  color: #17170E;
}
html,
body {

  padding: 0;
  margin: 0;
  font-family: Futura Medium, Futura Light , Futura Italic , Futura Bold;
    background-color: #17170E;
    color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.jamstack::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #d0e015;
  left: -35px;
}
.image img {
  border: 2px solid white;
  border-radius: 50%;
}
.image img {
  user-select: none;
}
.back {
  background-image: url(../assets/background.svg);
  background-size: 1200px 600px;
  background-position: 50%;
  height:50vh;
}
.bullet::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 70%;
  background-color: #d0e015;
  left: -30px;
  top: 30px;
}
.bullet li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d0e015; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.preview {
  border: 3px solid  white;
  border-radius: 10px 0 0 0;
}
.image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
img {
  user-select: none;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');
.embla {
    position: relative;
    color: white;
    background-color: transparent;
    padding: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
  }
  
  .embla__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #D0E015;
    padding: 0;
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
  
  .embla__button--prev {
    left: 27px;
  }
  
  .embla__button--next {
    right: 27px;
  }
  .link:hover {
    box-shadow: 1px 1px 18px 1px #0e0e07;
    border-radius: 10px;
    transition: .3s all ease;
  }
  .link {
    transition: .3s all ease;
  }
  @media screen and (max-width:820px)
  {
    .front {
      font-size: 80px;
    }
  }
  @media screen and (max-width:1063px)
  {
    .bullet {
      gap: 5rem;;
    }
  }
  @media screen and (max-width:903px)
  {
    .bullet {
      flex-direction: column;
    }
    .bullet::before{
      top: 100px;
    }
  }
  @media screen and (max-width:906px)
  {
   .grid-div{
    grid-template-columns: repeat(1,1fr);
   }
  }
  @media screen and (max-width:550px)
  {
   .paragraph{
    font-size: 20px;
   }
  }
  @media screen and (max-width:500px)
  {
   .cursor{
    bottom: -200px;
   }
  }
  @media screen and (max-width:420px)
  {
   .cursor{
    display: none;
   }
  }
  @media screen and (max-width:360px)
  {
   .paragraph{
    font-size: 15px;
   }
  }