@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Futura Bold;
  src: url(../assets/fonts/futuraBold.ttf);
}
@font-face {
  font-family: Futura Medium;
  src: url(../assets/fonts/futuraMedium.ttf);
}
@font-face {
  font-family: Futura Light;
  src: url(../assets/fonts/futuraLight.ttf);
}
@font-face {
  font-family: Futura Italic;
  src: url(../assets/fonts/futuraLightItalic.ttf);
}
::selection{
  background-color: #d0e015;
  color: #17170E;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Futura Medium, Futura Light , Futura Italic , Futura Bold;
    background-color: #17170E;
    color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.jamstack::before{
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #d0e015;
  left: -35px;
}
.image img {
  border: 2px solid white;
  border-radius: 50%;
}
.image img {
  user-select: none;
}
.back {
  background-image: url(../assets/background.svg);
  background-size: 1200px 600px;
  background-position: 50%;
}
.bullet::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 70%;
  background-color: #d0e015;
  left: -30px;
  top: 30px;
}
.bullet li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d0e015; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}